<% layout('layout') %>
<!--banner start-->
<div class="learn_path_focus lp_classmain_focus">
    <div class="focus_bg">
        <div class="lp_thisrec_c">
            <dl class="lp_reccourse">
                <dt class="f_l">
                <p><a href="javascript:void(0);"><%= page.classData.ClassName %></a></p>
                <strong class="fs_14"><%= page.classData.ClassCode %></strong>
                <%= page.classData.poBeginDate %>-<%= page.classData.poEndDate %>
                </dt>
                <dd class="f_r">
                    <div class="rec_level fs_14">预备</div>
                    <div class="rec_status fc_3dc">
                        <%= page.classData.ClassStatusText %>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="lp_view_allcs">
            <font class="lp_sicons icon_up"></font>
        </div>
    </div>
</div>
<!--banner end-->

<!--课表导航start-->
<div class="lp_coursenav">
    <div class="lpath_page">
        <div class="sec_nav">
            <a href="/schedule-<%=schoolId%>-<%=classCode%>">课表</a>
            <!--<a href="#">听课</a>-->
            <a href="/interaction-class-<%=classCode%>">互动课堂</a>
            <!--<a href="#">测试</a>-->
            <!--<a href="#">在线练习</a>-->
            <a href="/imitateExam-<%=schoolId%>-<%=classCode%>" class="selected_name">模考</a>
            <!--<a href="#">资料</a>-->
            <!--<a href="#">知识巩固</a>-->
        </div>
    </div>
</div>
<!--课表导航end-->

<!--模考start-->
<div class="lpath_page">
    <div class="model_test">
        <div class="model_test_opers">
            <div class="mt_boxop">
                <ul class="mt_exam_result mt_student" style="display:block;">
                    <%
                    if(ieData.errno !=1){
                            ieData.result.forEach(function(val,index){
                    %>
                    <li>
                        <dl class="fix">
                            <dt class="f_l">
                                <span class="mt_name"><%=val.paperName%></span>
                                <%
                                    if(val.flagFinish==-1){
                                %>
                                    <span class="mt_sts">未开始</span>
                                <%}
                                    if(val.flagFinish==0){
                                %>
                                    <span class="mt_sts">未完成</span>
                                <%}
                                    if(val.flagFinish==1 && val.correctStatus==0){
                                %>
                                <span class="mt_sts">未批改</span>
                                <%}
                                     if(val.flagFinish==1 && val.correctStatus==1){
                                %>
                                <span class="mt_sts">批改中</span>
                                <%}
                                     if(val.flagFinish==1 && val.correctStatus==2){
                                %>
                                <span class="mt_sts">已批改</span>
                                <%}%>

                            </dt>
                            <dd class="f_r">
                                <%
                                    if(val.flagFinish==-1){
                                %>
                                    <a href="tpo-test?paperId=<%=val.paperId%>&allotID=<%=val.allotID%>&classCode=<%=classCode%>" target="_blank">开始测试</a>
                                <%}
                                    if(val.flagFinish==0){
                                %>
                                    <a href="tpo-test?testId=<%=val.answerid%>&paperId=<%=val.paperId%>&allotID=<%=val.allotID%>&classCode=<%=classCode%>" target="_blank">继续测试</a>
                                <%}
                                    if(val.flagFinish==1 && val.correctStatus==0){
                                    var paperId = val.paperId;
                                %>
                                    <a href="tpo-review?testId=<%=val.answerid%>&paperId=<%=val.paperId%>&allotID=<%=val.allotID%>&classCode=<%=classCode%>" target="_blank">答题记录</a>
                                <%}
                                    if(val.flagFinish==1 && val.correctStatus==1){
                                    var paperId = val.paperId;
                                %>
                                <a href="tpo-review?testId=<%=val.answerid%>&paperId=<%=val.paperId%>&allotID=<%=val.allotID%>&classCode=<%=classCode%>" target="_blank">答题记录</a>
                                <%}
                                    if(val.flagFinish==1 && val.correctStatus==2){
                                    var paperId = val.paperId;
                                    var finishTime = val.finishTime;
                                    var paperName = val.paperName;
                                %>
                                <a href="tpo-review?testId=<%=val.answerid%>&paperId=<%=val.paperId%>&allotID=<%=val.allotID%>&classCode=<%=classCode%>" target="_blank">答题记录</a>
                                <a href="searchTestReport-<%= paperId%>?finishTime=<%=finishTime%>&paperName=<%=paperName%>">查看报告</a>
                                <a href="downloadreport-<%= paperId%>?finishTime=<%=finishTime%>&paperName=<%=paperName%>">下载报告</a>
                                <%}%>
                            </dd>
                        </dl>
                    </li>
                    <%});}else{%>
                    <li style="text-align: center;color: #f0ad4e;font-size: 24px;"><%=ieData.errmsg%></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--模考end-->