<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>模考报告</title>
    <link href="/public/po/report_style.css" type="text/css" rel="stylesheet" />
    <link href="/public/po/report_page.css" type="text/css" rel="stylesheet" />
    <style>
        /**成绩单**/
        .examinee{border-top:1px dashed #818586;color:#444;border-right:1px dashed #818586;border-bottom:1px dashed #818586;width:470px;height:150px;float:left;}
        .examinee ul{border:2px solid #fff;padding:10px;background-color:#EDEEF0;font-weight:bold;font-family:"microsoft yahei";}
        .examinee li{padding:2px 0;}
        .result{border:2px solid #818586;width:260px;float:right;padding:3px;color:#444;}
        .result dt{font-size:16px;font-weight:bold;text-align:center;background-color:#EDEEF0;padding:2px 0;}
        .result dd{font-weight:bold;padding:3px 0;}
        .items{float:left;display:inline;vertical-align: baseline;font-size: 100%;background-color:#fff;}
        .dot{width:auto;float: none;display:block;vertical-align: baseline;padding: 0em 0em 0em 0.1em;font-size: 100%; background:url(../../public/build/img/po/images/dot.png) left center repeat-x;}
        .scores{float:right;display:inline;vertical-align: baseline;font-size: 100%;background-color:#fff;}
        .total{border-top:2px solid #7d7d7d;margin-top:5px;}
        .standard{border:1px solid #fff;border-collapse:collapse;width:100%;margin-top:10px;}
        .standard th{border:2px solid #373739; background-color:#373739;text-align:center;padding:3px 10px;color:#fff;}
        .standard td{border:2px solid #8A8C8F;background-color:#D9DCDD;color:#6F7273;}
        .verdict{padding:10px 6px;}
        .standard td.deeper{background-color:#ADAFB1;}
        /*.standard td.deepen{background-color:#949599;}*/
        .tc{text-align: center;}
        body{background:url(../../public/build/img/po/images/sand.png)}
    </style>
</head>

<body>
<div style="width:750px; overflow:hidden;padding-top:10px;background-color:#fff;margin:0 auto;">
    <%if(reportData.errno != 1){%>
    <div class="fix">
        <div class="examinee">
            <ul>
                <br>
                <li>姓名:&nbsp;&nbsp;<%=mtMessage.userName%></li>
                <br>
                <li>试卷名称:&nbsp;&nbsp;<%=mtMessage.paperName%></li>
                <br>
                <li>测试时间:&nbsp;&nbsp;<%=mtMessage.finishTime%></li>
                <br>
            </ul>
        </div>
        <div class="result">
            <div>
            </div>
            <dl>
                <dt>Toefl Scaled Score</dt>
                <dd class="fix">
                    <div class="items">Reading</div>
                    <div class="scores"><%=data.readScore%>分</div>
                    <div class="dot">&nbsp;</div>
                </dd>
                <dd class="fix">
                    <div class="items">Listening</div>
                    <div class="scores"><%=data.listenScore%>分</div>
                    <div class="dot">&nbsp;</div>
                </dd>
                <dd class="fix">
                    <div class="items">Speaking</div>
                    <div class="scores"><%=data.oralScore%>分</div>
                    <div class="dot">&nbsp;</div>
                </dd>
                <dd class="fix">
                    <div class="items">Writing</div>
                    <div class="scores"><%=data.essayScore%>分</div>
                    <div class="dot">&nbsp;</div>
                </dd>
                <dd class="total fix">
                    <div class="items">Total</div>
                    <div class="scores"><%=data.totalScore%>分</div>
                    <div class="dot">&nbsp;</div>
                </dd>
            </dl>
        </div>
    </div>
    <table cellpadding="0" cellspacing="0" class="standard">
        <tr>
            <th width="15%">Reading Skills</th>
            <th width="15%">Level</th>
            <th width="70%">Your Performance</th>
        </tr>
        <tr>
            <td class="tc">阅读</td>
            <%
                if(data.readScore>=0&&data.readScore<=14){
              %>
            <td class="tc">
                Low
                <br>
                (0-14)
            </td>
            <td class="verdict">
                <%-reportJson.readScore.Low%>
            </td>
            <%}else if(data.readScore>=15&&data.readScore<=22){%>
            <td class="tc">
                Intermediate
                <br>
                (15-22)
            </td>
            <td class="verdict">
                <%-reportJson.readScore.Intermediate%>
            </td>
            <%}else if(data.readScore>=23&&data.readScore<=30){%>
            <td class="tc">
                High
                <br>
                (23-30)
            </td>
            <td class="verdict">
                <%-reportJson.readScore.High%>
            </td>
            <%}%>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" class="standard">
        <tr>
            <th width="15%">Listening Skills</th>
            <th width="15%">Level</th>
            <th width="70%">Your Performance</th>
        </tr>
        <tr>
            <td class="tc">听力</td>
            <%if(data.listenScore>=22&&data.listenScore<=30){%>
            <td class="tc">
                High
                <br>
                (22-30)
            </td>
            <td class="verdict">
                <%-reportJson.listenScore.High%>
            </td>
            <%}else if(data.listenScore>=14&&data.listenScore<=21){%>
            <td class="tc">
                Intermediate
                <br>
                (14-21)
            </td>
            <td class="verdict">
                <%-reportJson.listenScore.Intermediate%>
            </td>
            <%}else if(data.listenScore>=0 && data.listenScore<=13){%>
            <td class="tc">
                Low
                <br>
                （0-13分）
            </td>
            <td class="verdict">
                <%-reportJson.listenScore.Low%>
            </td>
            <%}%>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" class="standard">
        <tr>
            <th width="15%">Speaking Skills</th>
            <th width="15%">Level</th>
            <th width="70%">Your Performance</th>
        </tr>
        <tr>
            <td class="tl p5 tc">独立任务</td>
            <%if(detail.independentTask<=1 && detail.independentTask>=0){%>
            <td class="tc">
                Weak
                <br>
                (0~1)
            </td>
            <td class="verdict">
                <%-reportJson.independentTask.Weak%>
            </td>
            <%}else if(detail.independentTask>=1.5 && detail.independentTask<=2){%>
            <td class="tc">
                Limited
                <br>
                (1.5-2.0)
            </td>
            <td class="verdict">
                <%-reportJson.independentTask.Limited%>
            </td>
            <%}else if(detail.independentTask>=2.5 && detail.independentTask<=3){%>
            <td class="tc">
                Fair
                <br>
                (2.5-3.0)
            </td>
            <td class="verdict">
                <%-reportJson.independentTask.Fair%>
            </td>
            <%}else if(detail.independentTask>=3.5 && detail.independentTask<=4){%>
            <td class="tc">
                Good
                <br>
                (3.5-4.0)
            </td>
            <td class="verdict">
                <%-reportJson.independentTask.Good%>
            </td>
            <%}%>
        </tr>
        <tr>
            <td class="tl p5 tc">校园对话</td>
            <%if(detail.campusDialogue<=1 && detail.campusDialogue>=0){%>
            <td class="tc">
                Weak
                <br>
                (0-1)
            </td>
            <td class="verdict">
                <%-reportJson.campusDialogue.Weak%>
            </td>
            <%}else if(detail.campusDialogue>=1.5 && detail.campusDialogue<=2){%>
            <td class="tc">
                Limited
                <br>
                (1.5-2.0)
            </td>
            <td class="verdict">
                <%-reportJson.campusDialogue.Limited%>
            </td>
            <%}else if(detail.campusDialogue>=2.5 && detail.campusDialogue<=3){%>
            <td class="tc">
                Fair
                <br>
                (2.5-3.0)
            </td>
            <td class="verdict">
                <%-reportJson.campusDialogue.Fair%>
            </td>
            <%}else if(detail.campusDialogue>=3.5 && detail.campusDialogue<=4){%>
            <td class="tc">
                Good
                <br>
                (3.5-4.0)
            </td>
            <td class="verdict">
                <%-reportJson.campusDialogue.Good%>
            </td>
            <%}%>
        </tr>
        <tr>
            <td class="tl p5 tc">学术课堂</td>
            <%if(detail.scholarshipClass<=1 && detail.scholarshipClass>=0){%>
            <td class="tc">
                Weak
                <br>
                (0~1)
            </td>
            <td class="verdict">
                <%-reportJson.scholarshipClass.Weak%>
            </td>
            <%}else if(detail.scholarshipClass>=1.5 && detail.scholarshipClass<=2){%>
            <td class="tc">
                Limited
                <br>
                (1.5-2.0)
            </td>
            <td class="verdict">
                <%-reportJson.scholarshipClass.Limited%>
            </td>
            <%}else if(detail.scholarshipClass>=2.5 && detail.scholarshipClass<=3){%>
            <td class="tc">
                Fair
                <br>
                (2.5-3.0)
            </td>
            <td class="verdict">
                <%-reportJson.scholarshipClass.Fair%>
            </td>
            <%}else if(detail.scholarshipClass>=3.5 && detail.scholarshipClass<=4){%>
            <td class="tc">
                Good
                <br>
                (3.5-4.0)
            </td>
            <td class="verdict">
                <%-reportJson.scholarshipClass.Good%>
            </td>
            <%}%>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" class="standard">
        <tr>
            <th width="15%">Writing Skills</th>
            <th width="15%">Level</th>
            <th width="70%">Your Performance</th>
        </tr>
        <tr>
            <td class="tl p5 tc">综合写作</td>
            <%if(detail.integratedWriting<=5 && detail.integratedWriting>=4){%>
            <td class="tc">
                Good
                <br>
                （4.0-5.0）
            </td>
            <td class="verdict">
                <%-reportJson.integratedWriting.Good%>
            </td>
            <%}else if(detail.integratedWriting>=2.5 && detail.independentTask<=3.5){%>
            <td class="tc">
                Fair
                <br>
                （2.5-3.5）
            </td>
            <td class="verdict">
                <%-reportJson.integratedWriting.Fair%>
            </td>
            <%}else if(detail.integratedWriting>=1 && detail.integratedWriting<=2){%>
            <td class="tc">
                Limited
                <br>
                （1.0-2.0）
            </td>
            <td class="verdict">
                <%-reportJson.integratedWriting.Limited%>
            </td>
            <%}%>
        </tr>
        <tr>
            <td class="tl p5 tc">独立写作</td>
            <%if(detail.independentWriting<=5 && detail.independentWriting>=4){%>
            <td class="tc">
                Good
                <br>
                （4.0-5.0）
            </td>
            <td class="verdict">
                <%-reportJson.independentWriting.Good%>
            </td>
            <%}else if(detail.independentWriting>=2.5 && detail.independentWriting<=3.5){%>
            <td class="tc">
                Fair
                <br>
                （2.5-3.5）
            </td>
            <td class="verdict">
                <%-reportJson.independentWriting.Fair%>
            </td>
            <%}else if(detail.independentWriting>=1 && detail.independentWriting<=2){%>
            <td class="tc">
                Limited
                <br>
                （1.0-2.0）
            </td>
            <td class="verdict">
                <%-reportJson.independentWriting.Limited%>
            </td>
            <%}%>
        </tr>
    </table>
    <%}else{%>
        <h4 style="text-align: center;color: #FFC601;"><%=reportData.errmsg%></h4>
    <%}%>
</div>
</body>
</html>
