<%- layout('layout') %>

<!--banner start-->
<div class="learn_path_focus">
    <div class="focus_bg">
        <div class="lpath_page"><span><img src="/public/build/img/po/images/img_logo.png" width="176" height="181"
                                           alt=""/></span>

            <p>欢迎回到新东方学路，继续您的学习旅程吧！</p></div>
    </div>
</div>
<!--banner end-->
<!--学员课程信息start-->
<div class="lp_studybg">
    <div class="lpath_page">
        <dl class="lp_study_plan fix">
            <dt class="f_l"><a href="#"><img src="/public/build/img/po/images/img_header.jpg" width="169" height="169"
                                             alt=""/>Mr_right</a></dt>
            <dd class="f_r">
                <ul class="lp_learn_tasks fix">
                    <li><a href="schedules-<%=token%>-myschedule" data-bypass><span
                                    class="lp_icon course"></span>课表</a>
                    </li>
                    <li><a href="schedules-<%=token%>-myclass" data-bypass><span class="lp_icon class"></span>班级</a>
                    </li>
                    <!--<li><a href="#"><span class="lp_icon plan"></span>学习计划</a></li>
                    <li><a href="#"><span class="lp_icon add"></span></a></li>-->
                </ul>
            </dd>
        </dl>
    </div>
</div>
<!--学员课程信息end-->
<!--参加的班级start-->
<div class="lp_join_class">
    <div class="lpath_page">
        <dl class="lp_class_title fix">
            <dt class="f_l lp_icon join_h"></dt>
            <dd class="f_r  lp_bgs title_test"></dd>
            <!--<a href="#" class="lp_bgs lp_tfpath fs_14">托福学习路径</a>-->
        </dl>
        <ul class="lp_class_list fix">
            <% classes.forEach(function(clas){ %>
            <li>
                <a href="class-<%= clas.SchoolId %>-<%= clas.ClassCode %>" data-bypass>
                    <% if(clas.ClassStatus == 1 || clas.ClassStatus == 2){ %>
                    <dl class="box hasended">
                        <% } else { %>
                        <dl class="box ongoing">
                            <% } %>
                            <dt class="f_l fs_14">
                            <p><%= clas.ClassName %></p>
                            <p><%= clas.ClassCode %></p>
                            <%= clas.poBeginDate %>-<%= clas.poEndDate %>
                            </dt>
                            <dd class="f_r">
                                <div class="course_level have_course fs_14">预备</div>
                                <div class="course_stauts fc_3dc">
                                    <span class="lp_sicons icons_ing"></span>
                                    <% if (clas.ClassStatus == 1) { %>
                                    已结课
                                    <% } else if (clas.ClassStatus == 2) { %>
                                    未开课
                                    <% } else if (clas.ClassStatus == 0) { %>
                                    上课中
                                    <% } %>
                                </div>
                            </dd>
                        </dl>
                </a>
            </li>
            <% }); %>
        </ul>
        <div class="lp_view_allcs">
            <a href="#" class="fs_14">查看我的所有班级</a>
            <span class="lp_sicons icon_up"></span>
        </div>
    </div>
</div>
<!--参加的班级end-->
