<% layout('layout') %>
<% block('view', '<input id="_moduleViewName" type="hidden" value="interactionClass">') %>
<!--banner start-->
<div class="learn_path_focus lp_classmain_focus">
    <div class="focus_bg">
        <div class="lp_thisrec_c">
            <dl class="lp_reccourse">
                <dt class="f_l">
                <p><a href="class-<%=schoolid%>-<%=classcode%>"><%=page.classData.ClassName%></a></p>
                <strong class="fs_14"><%=classcode%></strong>
                <%=page.classData.poBeginDate%>-<%=page.classData.poEndDate%>
                </dt>
                <dd class="f_r">
                    <div class="rec_level fs_14">预备</div>
                    <div class="rec_status fc_3dc">
                        <font class="lp_sicons" id="icons_ing"></font>
                        上课中
                    </div>
                </dd>
            </dl>
        </div>
        <div class="lp_view_allcs">
            <font class="lp_sicons icon_up"></font>
        </div>
    </div>
</div>
<!--banner end-->

<!--课表导航start-->
<div class="lp_coursenav">
    <div class="lpath_page">
        <div class="sec_nav">
            <a href="/schedule-<%=schoolid%>-<%=classcode%>">课表</a>
            <a href="/interaction-class-<%=classcode%>" class="selected_name">互动课堂</a>
            <%if(showImitateExam == true) {%><a href="/imitateExam-<%=shcoolid%>-<%=classcode%>">模考</a><%}%>
        </div>
    </div>
</div>
<!--课表导航end-->

<!--互动课堂start-->
<div class="lpath_page">
    <ul class="lp_select_operations fix">
        <li><a class="btn_test_list lp_pbg" id="paperList"></a></li>
        <li><a class="btn_answer_record lp_pbg" id="answerPaperList"></a></li>
    </ul>
    <!--课题列表开始-->
    <div class="mt_tab" id="classList">
        <div class="tab_menu">
            <ul class="fix">
                <%
                    for (var x=0;x<typeList.length;x++) {
                        var type = typeList[x];
                %>
                <li <% if(x == 0) {%>class="selected"<% } %> onclick="ajaxLoad('<%=type.ename%>','<%=type.code%>',0);"><span><%=type.ename%></span><%=type.name%></li>
                <%
                    }
                %>
            </ul>
        </div>
        <div class="tab_box">
            <%
                for (var t=0;t<typeList.length;t++) {
                    var ul = typeList[t];
            %>

            <ul <%if(t == 0) {%>style="display:block;" <% } %> id="<%=ul.ename%>">
                <%
                    if(t == 0) {
                        if(listOne != undefined) {
                            //var listOne = listOne.result;
                            var len = listOne.length;
                            for(var i=0;i<len;i++) {
                                var item = listOne[i];
                %>
                <%if(item.answerid == undefined) {%><li class="fix"><a href="/interactive-classroom-detail?schoolId=<%=item.schoolId%>&classCode=<%=item.classCode%>&pType=<%=item.pType%>" class="getinto">进入课堂</a><a href="#"><%=item.paperName%></a></li><%}%>
                <%
                            }
                        }
                    }
                %>
            </ul>

            <%
                }
            %>
        </div>
    </div>
    <!--课题列表结束-->

    <!--答题记录-->
    <div class="mt_tab" style="display: none;" id="answeredList">
        <div class="tab_menu">
            <ul class="fix">
                <%
                for (var x=0;x<typeList.length;x++) {
                    var type = typeList[x];
                %>
                <li <% if(x == 0) {%>class="selected"<% } %> onclick="ajaxLoadAnwser('<%=type.ename%>','<%=type.code%>',1);"><span><%=type.ename%></span><%=type.name%></li>
                <%
                    }
                %>
            </ul>
        </div>
        <div class="tab_box">
            <%
            for (var t=0;t<typeList.length;t++) {
                var ul = typeList[t];
            %>

            <ul <%if(t == 0) {%>style="display:block;" <% } %> id="<%=ul.ename%>_1">
                <%
                if(t == 0) {
                        if(listOneAnwser != undefined) {
                    //var listOne = listOne.result;
                    var len = listOneAnwser.length;
                        for(var i=0;i<len;i++) {
                    var item = listOneAnwser[i];
                %>
                <%if(item.answerid != undefined) {%><li class="fix"><a href="/interactive-classroom-detail?schoolId=<%=item.schoolId%>&classCode=<%=item.classCode%>&pType=<%=item.testId%>" class="getinto">进入课堂</a><a href="#"><%=item.paperName%></a></li><%}%>
                <%
                }
                }
                }
                %>
            </ul>

            <%
            }
            %>
        </div>
    </div>
    <!--答题记录结束-->
    <input type="hidden" name="classcode" id="classcode" value="<%=classcode%>">
</div>
<!--互动课堂end-->

<!--课表end-->

<script>
    function ajaxLoad(name,type,answerid) {
        var url = "/interaction/ajaxLoad";
        $.ajax({
            type: "POST",
            data: {type:type,classcode:$("#classcode").val()},
            url: url,
            success: function(data) {
                if(data != undefined) {
                    //alert(1);
                    var result = data.result;
                    if(result != undefined) {
                        var arr = [];
                        //arr.push("<li class='fix'><a href='#' class='getinto'>进入课堂</a> <a href='#'>进入课堂</a></li> ");
                        for (var i=0;i<result.length;i++)
                        {
                            var item = result[i];
                            if(item != undefined) {
                                arr.push("<li class='fix'><a href='#' class='getinto'>进入课堂</a> <a href='#'>"+item.paperName+"</a></li> ");
                            }
                        }
                        if(answerid == 1) {
                            $("#"+name+"_1").html(arr.join(''));
                        }else {
                            $("#"+name).html(arr.join(''));
                        }

                    }
                }
            }
        });
    }

    function ajaxLoadAnwser(name,type,answerid) {
        var url = "/interaction/ajaxLoadAnswer";
        $.ajax({
            type: "POST",
            data: {type:type,classcode:$("#classcode").val()},
            url: url,
            success: function(data) {
                if(data != undefined) {
                    //alert(1);
                    var result = data.result;
                    if(result != undefined) {
                        var arr = [];
                        //arr.push("<li class='fix'><a href='#' class='getinto'>进入课堂</a> <a href='#'>进入课堂</a></li> ");
                        for (var i=0;i<result.length;i++)
                        {
                            var item = result[i];
                            if(item != undefined) {
                                arr.push("<li class='fix'><a href='#' class='getinto'>进入课堂</a> <a href='#'>"+item.paperName+"</a></li> ");
                            }
                        }
                        if(answerid == 1) {
                            $("#"+name+"_1").html(arr.join(''));
                        }else {
                            $("#"+name).html(arr.join(''));
                        }

                    }
                }
            }
        });
    }
</script>


