<%- layout('layout') %>
<% block('view', '<input id="_moduleViewName" type="hidden" value="schedules_tch">') %>

<div style="width:1100px; margin: 10px auto;">
    <input type="hidden" id="tabname" value="<%= tabname %>">
    <input type="hidden" id="userid" value="<%= page.user.id %>">
    <input type="hidden" id="userType" value="<%= page.user.type || 2 %>">
    <input type="hidden" id="nSchoolId" value="<%= page.user.schoolid %>">
    <input type="hidden" id="sCode" value="<%= page.user.code %>">
    <ul class="nav nav-tabs" id="schedules-tch-tab">
        <li><a href="#my-class" data-toggle="tab" data-bypass>
                我的班级
            </a></li>
        <li><a href="#my-schedule" data-toggle="tab" data-bypass>
                我的课表
            </a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="my-class">
            <% include s-class-list.ejs %>
        </div>
        <div class="tab-pane" id="my-schedule">
            <% include s-schedules.ejs %>
        </div>
    </div>
</div>




