<% layout('layout') -%>
<br>
<div class="row-fluid" >
    <div class="">
        选择机构：
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">全部可选机构<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">全部可选机构</a></li>
                <li><a href="#">北京新东方</a></li>
                <li><a href="#">国外考试推广管理中心</a></li>
            </ul>
        </div>
        练习包名称：
        <input class="" type="text" placeholder="练习包名称">
        <a href="#" class="btn">搜索</a>
        <a href="tpk-to-save" data-bypass class="btn">添加</a>
    </div>
</div>
<div class="" >
    <table class="table">
        <thead>
        <tr>
            <th style="width: 5px;"><input type="checkbox" id="controlAll" onchange="selectAll()"/> </th>
            <th>专项练习包名称</th>
            <th>有效试卷数量</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <%
         for(var point=0;point<list.length;point++){
             var item = list[point];
          %>
        <tr>
            <td><input type="checkbox" value="<%=item.id%>"/></td>
            <td><%=item.name%></td>
            <td><%=item.paper_num%></td>
            <td><%=item.remark%></td>
            <td>
                <a data-toggle="modal"
                   href="/tpk-to-save<%=item.id%>"
                   data-bypass onMouseOver="$(this).tooltip('show')"
                   data-toggle="tooltip" data-placement="top"
                   title data-original-title="编辑练习包">
                    <i class="icon-pencil"></i>
                </a>
                <a data-toggle="modal"
                   href="/tpk-paper-set<%=item.id%>"
                   data-bypass onMouseOver="$(this).tooltip('show')"
                   data-toggle="tooltip" data-placement="top"
                   title data-original-title="编辑配置试卷">
                    <i class="icon-list"></i>
                </a>
                <a data-toggle="modal"
                   data-bypass onMouseOver="$(this).tooltip('show')"
                   data-toggle="tooltip" data-placement="top"
                   title data-original-title="删除">
                    <i class=" icon-remove"></i>
                </a>
            </td>
        </tr>
        <%
        }
          %>
        </tbody>
    </table>
</div>
<div class="pagination pagination-right">
    <ul>
        <li><a href="#">上一页</a></li>
        <li  class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">下一页</a></li>
    </ul>
</div>
<script>
    //操作checkbox使其完成全选或全不选11
    function selectAll(){
        var checklist = document.getElementsByName ("selected");
        if(document.getElementById("controlAll").checked)
        {
            for(var i=0;i<checklist.length;i++)
            {
                checklist[i].checked = 1;
            }
        }else{
            for(var j=0;j<checklist.length;j++)
            {
                checklist[j].checked = 0;
            }
        }
    }

    function copyTestPaper() {
        var url = "/tp-copy";
        var pid = $("#paperId").val();
        var pname = $("#paperName").val();
        var organization = $("#organization").val();
        $.ajax({
            type : "POST",
            url : url,
            data : {pid:pid,name:pname,organization:organization},
            success : function(data) {
                alert(data);
            }
        });
    }



</script>

