<!DOCTYPE html >
<html style="background-color: #b3b3b3;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link type='text/css' rel='stylesheet' href="/public/static/styles/common.css"/>
    <link type='text/css' rel='stylesheet' href="/public/static/styles/designer.css"/>
    <link type='text/css' rel='stylesheet' href="/public/static/styles/testing.css"/>

    <script type="text/javascript">
        var defaultDef = {};
        var paperConfig = {
            testId: "<%=testId%>",
            paperId: "<%=paperId%>",
            userId: "<%=userId%>",
            allotId: "<%=allotId%>",
            classCode: "<%=classCode%>",
            testFrom: "test",
            statusType: "review"
        };
    </script>

    <script type="text/javascript" src="/public/static/scripts/common.js"></script>
    <script type="text/javascript" src="/public/static/scripts/designer.core.js"></script>
    <script type="text/javascript" src="/public/static/scripts/designer.testing.js"></script>
</head>
<body>
<div class="designer_loading">
    <img src="/public/static/images/loading.gif"/>数据加载中...
</div>
<div class="designer_box" style="display: none;">
    <div id="subject_designer" tabindex="99">
        <div class="testing_header">
            <audio id="bgaudio_player" autoplay="autoplay"></audio>
            <div id="paper_title">
                <span id="paper_name"></span>
                <span id="part_name"></span>
            </div>
            <span id="btn_exit" class="testbtn rect">Exit</span>
            <div id="header_right_normal" class="designer_header_right" style="top: 5px;right: 10px;">
                <input id="btn_extral" type="button" value="查看文章" class="testbtn rect"/>
                <input id="btn_review" type="button" value="Review" class="testbtn rect"/>
                <input id="btn_back" type="button" value="back" class="testbtn"/>
                <input id="btn_ok" type="button" value="Ok" class="testbtn"/>
                <input id="btn_next" type="button" value="next" class="testbtn"/>
                <input id="btn_continue" type="button" value="Continue" class="testbtn rect"/>
            </div>
            <div id="header_right_extral_return" class="designer_header_right" style="top: 5px;right: 10px;">
                <input id="btn_extral_return" type="button" value="Return" class="testbtn rect">
            </div>
            <div id="header_question">Question <span></span></div>
            <div id="header_timer_box">
                <input id="btn_timer" type="button" value="hideTime" class="timerbtn"/>
                <span class="header_timer_wrap"><span id="header_timer"></span></span>
            </div>
        </div>
        <div class="subject_page">
            <div id="subject_canvas" class="designer_canvas"></div>
        </div>
    </div>
</div>
<div id="dlg_paper_review" class="dialog" style="width: 750px">
    <div class="dialog_header">Test Report</div>
    <div id="review_content" class="dialog_content" style="height: 480px; overflow: auto;">
    </div>
</div>
</body>
</html>