<%- layout('layout') %>
<style type="text/css">
    .icon_gray {
        color: #cccccc
    }
</style>
<%
function obj_revert(obj) {
    var o = {};
    for (var k in obj) {
        o[obj[k]] = k;
    }
    return o;
}
%>
<br>
<div class="row-fluid">
    <div class="">
        <a class="btn" href="tq-edit" data-bypass target="_blank">新建</a>
    </div>
</div>
<div class="">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>编号</th>
            <th>描述</th>
            <th>题型</th>
            <th>风险</th>
            <th>年份</th>
            <th>发布</th>
            <th>审核</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <%
        var erTypeMap = page.enums.erType.values;
        var erRiskMap = page.enums.erRisk.values;
        var erPublishStatusMap = page.enums.erPublishStatus.values;
        var erPublishStatusNames = obj_revert(page.enums.erPublishStatus.names);
        var erPublishActionMap = page.enums.erPublishAction.values;
        var erAuditStatusMap = page.enums.erAuditStatus.values;
        var erAuditStatusNames = obj_revert(page.enums.erAuditStatus.names);
        var erAuditActionMap = page.enums.erAuditAction.values;
        var list = page.testQuestions;
        var len = list.length;
                for(var i = 0; i < len; i++){
            var item = list[i];
        %>
        <tr id="tq_tr_<%= item.id %>">
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= erTypeMap[item.erType] %></td>
            <td><%= erRiskMap[item.erRisk] %></td>
            <td><%= item.erYear %></td>
            <td><a style="color: #000000; cursor: pointer;" lang="<%= erPublishStatusNames[item.erPublish] %>"
                   data-bypass
                   onclick="publish_click('<%= item.id %>', this)"
                   onMouseOver="$(this).tooltip('show')" data-toggle="tooltip" data-placement="top"
                   title data-original-title="<%= erPublishActionMap[item.erPublish] %>">
                    <i id="publish_i_<%= item.id %>"
                       class="fa fa-location-arrow <% if(erPublishStatusNames[item.erPublish] == 'Unpublished'){ %> icon_gray <% } %>"></i>
                </a></td>
            <td><a id="audit_a_<%= item.id %>"
                   style="color: #000000; cursor: pointer; <% if(erPublishStatusNames[item.erPublish] == 'Unpublished'){ %> display:none;<% } %>"
                   lang="<%= erAuditStatusNames[item.erAudit] %>" data-bypass
                   onclick="audit_click('<%= item.id %>', this)"
                   onMouseOver="$(this).tooltip('show')" data-toggle="tooltip" data-placement="top"
                   title data-original-title="<%= erAuditActionMap[item.erAudit] %>">
                    <i id="audit_i_<%= item.id %>"
                       class="fa fa-gavel <% if(erAuditStatusNames[item.erAudit] == 'Unaudited'){ %> icon_gray <% } %>"></i>
                </a></td>
            <td>
                <a href="/tq-edit-<%= item.id %>" data-bypass
                   onMouseOver="$(this).tooltip('show')" target="_blank"
                   data-toggle="tooltip" data-placement="top" title data-original-title="编辑">
                    <i class="icon-pencil"></i>
                </a>&nbsp;&nbsp;
                <a href="javascript:void(0)" lang="<%= item.id %>"
                   data-bypass onMouseOver="$(this).tooltip('show')" data-toggle="tooltip"
                   data-placement="top" title data-original-title="删除" onclick="delete_click(this)">
                    <i class="icon-trash"></i>
                </a>
            </td>
        </tr>
        <%
        }
        %>
        </tbody>
    </table>
    <input type="hidden" id="publish_action_txt" value="<%= JSON.stringify(erPublishActionMap) %>">
    <input type="hidden" id="publish_status_txt" value="<%= JSON.stringify(erPublishStatusNames) %>">
    <input type="hidden" id="audit_action_txt" value="<%= JSON.stringify(erAuditActionMap) %>">
    <input type="hidden" id="audit_status_txt" value="<%= JSON.stringify(erAuditStatusNames) %>">

    <!--弹出窗-->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" data-backdrop=false aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header" style="height: 15px;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <p id="model_alert_text" style="text-align: center;"></p>
        </div>
        <div class="modal-footer">
            <button id="modal_assure" class="btn btn-primary">确认</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        </div>
    </div>

    <script type="text/javascript">

        function publish_click(tq_id, obj) {
            $('#model_alert_text').html($(obj).attr('data-original-title') + '试题吗?');
            $('#myModal').modal('show');
            $("#modal_assure").one('click', function () {
                publish_assure_click(tq_id, obj)
            });
        }

        function audit_click(tq_id, obj) {
            $('#model_alert_text').html('确定' + $(obj).attr('data-original-title') + '试题吗?');
            $('#myModal').modal('show');
            $("#modal_assure").one('click', function () {
                audit_assure_click(tq_id, obj)
            });
        }

        function delete_click(obj) {
            $('#model_alert_text').html('你确定要删除吗？');
            $('#myModal').modal('show');
            $("#modal_assure").one('click', function () {
                delete_assure_click(obj)
            });
        }

        function publish_assure_click(tq_id, obj) {
            var stat = $(obj).attr('lang');
            var stautses = {'Published': 'unpublish', 'Unpublished': 'publish'};
            var stautses_re = {'Published': 'Unpublished', 'Unpublished': 'Published'};
            $.ajax({
                url: '/tq/' + tq_id + '/' + stautses[stat],
                type: 'put',
                success: function (res) {
                    var publish_action = JSON.parse($("#publish_action_txt").val());
                    var publish_status = JSON.parse($("#publish_status_txt").val());
                    $(obj).attr({'lang': stautses_re[stat], 'data-original-title': publish_action[res.result._data.erPublish]});
                    if (publish_status[res.result._data.erPublish] == 'Published') {
                        $('#audit_a_' + res.result._data.id).show();
                        $('#publish_i_' + res.result._data.id).removeClass('icon_gray');
                    } else {
                        $('#audit_a_' + res.result._data.id).hide();
                        $('#publish_i_' + res.result._data.id).addClass('icon_gray');
                    }
                    $('#myModal').modal('hide');
                },
                error: function (res) {
                    alert(res);
                }
            });
        }

        function audit_assure_click(tq_id, obj) {
            var stat = $(obj).attr('lang');
            var stautses = {'Audited': 'unaudit', 'Unaudited': 'audit'};
            var stautses_re = {'Audited': 'Unaudited', 'Unaudited': 'Audited'};
            $.ajax({
                url: '/tq/' + tq_id + '/' + stautses[stat],
                type: 'put',
                success: function (res) {
                    var audit_action = JSON.parse($("#audit_action_txt").val());
                    var audit_status = JSON.parse($("#audit_status_txt").val());
                    $(obj).attr({'lang': stautses_re[stat], 'data-original-title': audit_action[res.result._data.erAudit]});
                    if (audit_status[res.result._data.erAudit] == 'Audited') {
                        $('#audit_i_' + res.result._data.id).removeClass('icon_gray');
                    } else {
                        $('#audit_i_' + res.result._data.id).addClass('icon_gray');
                    }
                    $('#myModal').modal('hide');
                },
                error: function (res) {
                    alert(res.result);
                }
            });
        }

        function delete_assure_click(obj) {
            var tq_id = $(obj).attr('lang');
            $.ajax({
                url: '/tq/' + tq_id,
                type: 'delete',
                success: function (res) {
                    window.history.pushState(null, null, '/tq-index');
                    $('#tq_tr_' + tq_id).remove();
                    $('#myModal').modal('hide');
                },
                error: function (res) {
                    alert(res.status);
                }
            });
            return;
        }

    </script>

</div>